<template>
  <div class="card">
    <div class="card-header border-0">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="mb-0">Dispositivos</h3>
        </div>
        <div class="col text-right">
          <router-link to="/devices">
            <base-button size="sm" type="primary">Ver todos</base-button>
          </router-link>
          
        </div>
      </div>
    </div>

    <div class="table-responsive">
      <vue-good-table
        :columns="columns"
        :rows="data"
        :pagination-options="{ enabled: false, perPage: data.length}">
      </vue-good-table>  

    </div>

  </div>
</template>
<script>
  export default {
    name: 'devices-table',
    props: {
      data: Array,
      default: ()=>([])
    },
    data() {
      return {
        columns : [
          {
            label: 'Nombre',
            field: 'name',
            filterable: true,
          },
          // {
          //   label: 'Estatdo',
          //   field: 'status',
          //   filterable: true,
          // },
          {
            label: 'Descipcion',
            field: 'description',
            filterable: true,
          }
        ],
      }
    }

  }
</script>
<style>
</style>
