<template>
  <div class="card">
    <div class="card-header border-0">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="mb-0">Eventos</h3>
        </div>
        <router-link to="/events">
            <base-button size="sm" type="primary">Ver todos</base-button>
          </router-link>
      </div>
    </div>

    <div class="table-responsive">
      <vue-good-table
        :columns="columns"
        :rows="data"
        :pagination-options="{ enabled: false, perPage: 5}">
        <template slot="table-row" slot-scope="props">
          <span v-if="props.column.field == 'created_at'">
            {{new Date(props.formattedRow[props.column.field]).toLocaleString("es-MX", {timeZone: "America/Mexico_City"})}}
          </span>
          <span v-else>
            {{props.formattedRow[props.column.field]}}
          </span>
        </template>
      </vue-good-table>  
    </div>

  </div>
</template>
<script>
  export default {
    name: 'events-table',
    props: {
      data: Array,
      default: ()=>([])
    },
    data() {
      return {
        columns : [
          {
            label: 'Fecha',
            field: 'created_at',
            filterable: true,
          },
          {
            label: 'Dispositivo',
            field: 'device.name',
            filterable: true,
          },
          {
            label: 'Latitude',
            field: 'latitude',
            filterable: true,
          }
          ,
          {
            label: 'Londitud',
            field: 'longitude',
            filterable: false,
          }
        ],
      }
    }
  }
</script>
<style>
</style>
