<template>
    <div>

        <base-header type="gradient-success" class="pb-6 pb-8 pt-5 pt-md-8">
            <!-- Card stats -->
            <!--Tables-->
        <!--End tables-->
        </base-header>

        <div class="container-fluid mt--7">
            <div class="row">
                <div class="col-xl-9 mb-4">
                    <div class="card shadow border-0">
                        <!-- mapa -->
                        <google-map-loader
                          :mapConfig="mapConfig"
                        >
                          <template slot-scope="{ google, map }">
                            <google-map-marker
                              v-for="marker in markers"
                              :key="marker.id"
                              :ref="'mapmarker_'+marker.id"
                              :marker="marker"
                              :google="google"
                              :map="map"
                              @click="toggleInfoWindow(marker)"
                            >
                            </google-map-marker>

                            <google-map-line
                              v-for="line in lines"
                              :key="line.id"
                              :path.sync="line.path"
                              :google="google"
                              :map="map"
                            />

                          </template>
                        </google-map-loader>
                        <!-- mapa -->
                    </div>
                </div>
                <div class="col-xl-3">
                  <div class="col-xl-12 mb-4">
                    <devices-table :data="devices"></devices-table>
                  </div>
                  <div class="col-xl-12">
                    <events-table :data="events"></events-table>
                  </div>
              </div>
            </div>
        </div>

        
    </div>
</template>
<script>
//
String.prototype.getInitials = function(glue){
    if (typeof glue == "undefined") {
        var glue = true;
    }

    var initials = this.replace(/[^a-zA-Z- ]/g, "").match(/\b\w/g);
    
    if (glue) {
        return initials.join('');
    }

    return  initials;
};

String.prototype.capitalize = function(){
    return this.toLowerCase().replace( /\b\w/g, function (m) {
        return m.toUpperCase();
    });
};
 // Tables
  import EventsTable from './Dashboard/EventsTable';
  import DevicesTable from './Dashboard/DevicesTable';
  import { mapGetters } from 'vuex';
  import axios from "axios";
  import GoogleMapLoader from "../components/Maps/GoogleMapLoader";
  import GoogleMapMarker from "../components/Maps/GoogleMapMarker";
  import GoogleMapLine from "../components/Maps/GoogleMapLine";

  export default {
    components: {
      "events-table":EventsTable,
      "devices-table":DevicesTable,
      "google-map-loader":GoogleMapLoader,
      "google-map-marker":GoogleMapMarker,
      "google-map-line":GoogleMapLine,
    },
    data() {
      return {
        events: [],
        devices: [],
        markers: [],
        lines: [],
      }
    },
    computed: {
      mapConfig() {
        return {
          zoom: 13,
          scrollwheel: false,
          center: { lat: 22.1516, lng: -100.976 },
          styles: [
            {"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},
            {"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},
            {"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},
            {"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},
            {"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},
            {"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},
            {"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},
            {"featureType":"water","elementType":"all","stylers":[{"color":'#5e72e4'},{"visibility":"on"}]}]
      }
      },
      ...mapGetters(['currentUser'])
    },
    methods:{
      toggleInfoWindow(data){
        console.log(data);
      },
      loadDevices(){
        axios
          .get("devices")
          .then(response => {
            return response.data
          })
          .then(data => {
            this.markers = [];
            this.devices = data;
            data.map((device)=>{
              device.coordinates.map((coordinate,index)=>{
                var date  = coordinate.created_at.toLocaleString("es-MX", {timeZone: "America/Mexico_City"});
                date = new Date(date);
                let id = device._id+"_"+index;
                let new_coord = { id: id,label:device.name.getInitials(), name: device.name, date:date, position: { lat: coordinate.latitude, lng: coordinate.longitude } };
                this.markers = [new_coord, ...this.markers];
              });
            })

          })
          .catch(error => {
            this.isLoad = true;
          });
      },
      loadEvents(){
        axios
          .get("coordinates/events")
          .then(response => {
            return response.data
          })
          .then(data => {
            // data.map((coordinate,index)=>{
            //   if(data.length>1){
            //     if(!(data.length===(index+1))){
            //       let new_coord = { id: index, path: [{ lat: data[index].latitude, lng: data[index].longitude }, { lat: data[index+1].latitude, lng: data[index+1].longitude}] };
            //       this.lines = [new_coord, ...this.lines];
            //     }
            //   }
            // })
            data.map((device,index)=>{
              let _device = device.device[0];
              device.coordinates.map((coordinate,index)=>{
                // coordinate.device = _device;
                // this.events = [coordinate, ...this.events];
                if(device.coordinates.length>1){
                  if(!(device.coordinates.length===(index+1))){
                    let new_coord = { id: coordinate._id, path: [{ lat: device.coordinates[index].latitude, lng: device.coordinates[index].longitude }, { lat: device.coordinates[index+1].latitude, lng: device.coordinates[index+1].longitude}] };
                    this.lines = [new_coord, ...this.lines];
                  }
                }
              })
            });
          })
          .catch(error => {
            this.isLoad = true;
          });
      }
    },
    created(){
      this.$io.emit("join", "coordinates:"+this.currentUser.uid);
      window.addEventListener('beforeunload', () => {
          this.$io.emit("leave", "coordinates:"+this.currentUser.uid);
      }, false);
    },
    mounted() {
      this.$io.on("change_marker", event => {
        if(this.events.length>4){
          this.events.pop();
        }
        this.events = [event, ...this.events];
        console.log(this.events);
        let marker_first = "mapmarker_"+event.device._id+"_0";
        let marker_last = "mapmarker_"+event.device._id+"_1";
        var date  = event.created_at.toLocaleString("es-MX", {timeZone: "America/Mexico_City"});
        date = new Date(date);
        let new_coord = { id: event.device._id+"_1",label:event.device.name.getInitials(), name: event.device.name, date:date, position: { lat: event.latitude, lng: event.longitude } };
        if(this.$refs[marker_last]){
          this.$refs[marker_last][0].placeChanged(new_coord);
        }
        else{
          if(this.$refs[marker_first]){
            this.markers = [new_coord, ...this.markers];
          }
          else{
            let new_coord = { id: event.device._id+"_0",label:event.device.name.getInitials(), name: event.device.name, date:date, position: { lat: event.latitude, lng: event.longitude } };
            this.markers = [new_coord, ...this.markers];
          }
        }
      });
      this.$io.on("new_line", event => {
        let new_coord = { id: event._new._id, path: [{ lat: event._old.latitude, lng: event._old.longitude }, { lat: event._new.latitude, lng: event._new.longitude }] };
        this.lines = [new_coord, ...this.lines];
      });
      this.loadDevices();
      this.loadEvents();
    }
  }
</script>
<style>
</style>
