<template>
    <div>
        <base-header type="gradient-success" class="pb-6 pb-8 pt-5 pt-md-8">
            <!-- Card stats -->
            
        </base-header>

        <div class="container-fluid mt--7">
            <div class="row">
                <div class="col">
                    <devices-table title="Dispositivos"></devices-table>
                </div>
            </div>
            
        </div>

    </div>
</template>
<script>
  import DevicesTable from './Tables/DevicesTable';
  import axios from "axios";
  import { mapGetters } from 'vuex';

  export default {
    name: 'tables',
    components: {
      DevicesTable
    },
    data() {
      return {
        tableData: []
      }
    },
    computed: {
      ...mapGetters(['currentUser'])
    },
    methods:{
      init(){
        //call API
        //Setup game
      }
    },
    mounted(){
      this.init();
    }
  };
</script>
<style></style>
