<template>
    <div>
        <base-header type="gradient-success" class="pb-6 pb-8 pt-5 pt-md-8">
            <!-- Card stats -->
            
        </base-header>

        <div class="container-fluid mt--7">
            <div class="row">
                <div class="col">
                    <events-table title="Eventos"></events-table>
                </div>
            </div>
            
        </div>

    </div>
</template>
<script>
  import EventsTable from './Tables/EventsTable'
  import { mapGetters } from 'vuex';

  export default {
    name: 'tables',
    components: {
      "events-table":EventsTable
    },
    computed: {
      ...mapGetters(['currentUser'])
    },
    beforeRouteLeave(to, from, next) {
      this.$io.emit("leave", "coordinates:"+this.currentUser.uid);
      next();
    }
  };
</script>
<style></style>
