<template>
  <div class="card shadow"
       :class="type === 'dark' ? 'bg-default': ''">
    <div class="card-header border-0"
         :class="type === 'dark' ? 'bg-transparent': ''">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="mb-0" :class="type === 'dark' ? 'text-white': ''">
            {{title}}
          </h3>
        </div>
        <div class="col text-right">
          <base-button type="primary" size="sm"  @click="modals.add = true">Añadir</base-button>
          <!-- modals -->
          <div class="row">
            <modal :show.sync="modals.add">
              <template slot="header">
                  <h5 class="modal-title" id="exampleModalLabel">Agregar Dispositivo</h5>
              </template>
              <div>
                  <form>
                  <div class="row">
                      <div class="col-md-6">
                          <base-input v-model="item._id" placeholder="id"></base-input>
                      </div>
                      <div class="col-md-6">
                          <base-input v-model="item.password" placeholder="contraseña"></base-input>
                      </div>
                      <div class="col-md-12">
                          <base-input v-model="item.name" placeholder="Nombre"></base-input>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                        <textarea class="form-control form-control-alternative" v-model="item.description" rows="3" placeholder="Escribe una breve descripción de quien porta el dispositivo ..."></textarea>
                      </div>
                  </div>
                  </form>
              </div>
              <template slot="footer">
                  <base-button type="secondary" @click="modals.add = false">Cerrar</base-button>
                  <base-button type="primary" @click="addElement">Agregar</base-button>
              </template>
            </modal>

            <modal :show.sync="modals.edit">
                  <template slot="header">
                      <h5 class="modal-title" id="exampleModalLabel">Editar Dispositivo</h5>
                  </template>
                  <div>
                      <form>
                      <div class="row">
                          <div class="col-md-12">
                              <base-input v-model="edit_item.name" placeholder="Nombre"></base-input>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-12">
                            <textarea class="form-control form-control-alternative" v-model="edit_item.description" rows="3" placeholder="Escribe una breve descripción de quien porta el dispositivo ..."></textarea>
                          </div>
                      </div>
                      </form>
                  </div>
                  <template slot="footer">
                      <base-button type="secondary" @click="modals.edit = false">Cerrar</base-button>
                      <base-button type="primary" @click="editElement">Guardar</base-button>
                  </template>
                </modal>
                
                <modal :show.sync="modals.delete"
                  gradient="danger"
                  modal-classes="modal-danger modal-dialog-centered">
                <h6 slot="header" class="modal-title" id="modal-title-notification">Tu atención es requerida</h6>

                <div class="py-3 text-center">
                    <i class="ni ni-bell-55 ni-3x"></i>
                    <h4 class="heading mt-4">Estas apunto de eliminar un dispositivo!</h4>
                    <p>Toma en cuenta que esta acción no se puede deshacer.</p>
                </div>

                <template slot="footer">
                    <base-button type="white" block @click="deleteElement">Eliminar</base-button>
                </template>
            </modal>
          </div>
        </div>
      </div>
    </div>

    <div class="table-responsive">
       <vue-good-table
        :columns="columns"
        :rows="rows"
        :pagination-options="{ enabled: true, perPage: 3}"
        :search-options="{ enabled: true}"> 

        <template slot="table-row" slot-scope="props">
          <span v-if="props.column.field == 'actions'">
            <base-button @click="modalEdit(props.row)" type="primary" icon="ni ni-ruler-pencil"></base-button>
            <base-button @click="modalDelete(props.row)" outline type="danger" icon="ni ni-fat-remove"></base-button>
          </span>
          <span v-else>
            {{props.formattedRow[props.column.field]}}
          </span>
        </template>

      </vue-good-table>  
    </div>

    <!-- <div class="card-footer d-flex justify-content-end"
         :class="type === 'dark' ? 'bg-transparent': ''">
      <base-pagination total="30"></base-pagination>
    </div> -->

  </div>
</template>
<script>
  import axios from "axios";

  export default {
    name: 'projects-table',
    props: {
      type: {
        type: String
      },
      title: String
    },
    data() {
      return {
        modals:{
          add:false,
          edit:false,
          delete:false
        },
        columns : [
          {
            label: 'Nombre',
            field: 'name',
            filterable: true,
          },
          // {
          //   label: 'Estatdo',
          //   field: 'status',
          //   filterable: true,
          // },
          {
            label: 'Descipcion',
            field: 'description',
            filterable: true,
          }
          ,
          {
            label: 'Acciones',
            field: 'actions',
            filterable: false,
          }
        ],
        rows: [],
        item:{
        },
        edit_item:{
          name:"",
          description:""
        }
      }
    },
    watch:{
      'modals.edit'(newVal){
        if(!newVal){
          this.edit_item = {};
        }
      },
      'modals.delete'(newVal){
        if(!newVal){
          this.item = {};
        }
      }
    },
    methods:{
      init(){
        //call API
        //Setup gam,e
      },
      loadItems() {
        axios
          .get("devices")
          .then(response => {
            return response.data
          })
          .then(data => {
            this.rows = data;
          })
          .catch(error => {
            this.isLoad = true;
          });
      },
      modalAdd(){
        console.log("click");
      },
      modalEdit(item){
        this.modals.edit = true ;
        // this.item = item;
        this.edit_item = Object.assign(this.edit_item,item);
      },
      modalDelete(item){
        this.modals.delete = true ;
        Object.assign(this.item,item)
      },
      addElement(){
        axios
        .post("devices/assign", this.item)
        .then(response => {
          this.$notify({
                    type : "success", 
                    message: "Registro exitoso",
                    duration: 3000, 
                    permanent: false
                  });
          this.item = {}
          this.modals.add = false;
          this.loadItems();
        })
        .catch(error => {
          this.modals.add = false;
          if (error.response) {
            if (error.response.data) {
              if (error.response.data.errors) {
                Object.entries(error.response.data.errors).forEach(([key, error]) => {
                  this.$notify({
                    type : "warning", 
                    message: error,
                    duration: 3000, 
                    permanent: false
                  });
                  }
                );
              }
              if (error.response.data.message) {
                this.$notify({
                  type : "warning", 
                  message: "Error",
                  duration: 3000, 
                  permanent: false
                });
              }
            }
          }
        })
      },
      editElement(){
        axios
          .put("devices", this.edit_item)
          .then(response => {
            this.$notify({
                      type : "success", 
                      message: "Registro exitoso",
                      duration: 3000, 
                      permanent: false
                    });
            this.item = {}
            this.modals.edit = false;
            this.loadItems();
          })
          .catch(error => {
            this.modals.edit = false;
            if (error.response) {
              if (error.response.data) {
                if (error.response.data.errors) {
                  Object.entries(error.response.data.errors).forEach(([key, error]) => {
                    this.$notify({
                      type : "warning", 
                      message: error,
                      duration: 3000, 
                      permanent: false
                    });
                    }
                  );
                }
                if (error.response.data.message) {
                  this.$notify({
                    type : "warning", 
                    message: "Error",
                    duration: 3000, 
                    permanent: false
                  });
                }
              }
            }
          })
      },
      deleteElement(){
        axios
          .delete("devices", { data: { _id: this.item._id } })
          .then(response => {
            this.$notify({
                      type : "success", 
                      message: "Registro exitoso",
                      duration: 3000, 
                      permanent: false
                    });
            this.item = {}
            this.modals.delete = false;
            this.loadItems();
          })
          .catch(error => {
            this.modals.delete = false;
            if (error.response) {
              if (error.response.data) {
                if (error.response.data.errors) {
                  Object.entries(error.response.data.errors).forEach(([key, error]) => {
                    this.$notify({
                      type : "warning", 
                      message: error,
                      duration: 3000, 
                      permanent: false
                    });
                    }
                  );
                }
                if (error.response.data.message) {
                  this.$notify({
                    type : "warning", 
                    message: "Error",
                    duration: 3000, 
                    permanent: false
                  });
                }
              }
            }
          })
      }
    },
    mounted(){
      this.loadItems();
      this.init();
    }
  }
</script>
<style>
</style>
