<template>
  <div class="card shadow"
       :class="type === 'dark' ? 'bg-default': ''">
    <div class="card-header border-0"
         :class="type === 'dark' ? 'bg-transparent': ''">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="mb-0" :class="type === 'dark' ? 'text-white': ''">
            {{title}}
          </h3>
        </div>
        <div class="col text-right">
          
        </div>
      </div>
    </div>

    <div class="table-responsive">
       <vue-good-table
        :columns="columns"
        :rows="rows"
        :pagination-options="{ enabled: true, perPage: 10}"
        :search-options="{ enabled: true}"> 

        <template slot="table-row" slot-scope="props">
          <span v-if="props.column.field == 'created_at'">
            {{new Date(props.formattedRow[props.column.field]).toLocaleString("es-MX", {timeZone: "America/Mexico_City"})}}
          </span>
          <span v-else>
            {{props.formattedRow[props.column.field]}}
          </span>
        </template>
       

      </vue-good-table>  
    </div>

    <!-- <div class="card-footer d-flex justify-content-end"
         :class="type === 'dark' ? 'bg-transparent': ''">
      <base-pagination total="30"></base-pagination>
    </div> -->

  </div>
</template>
<script>
  import axios from "axios";
  import { mapGetters } from 'vuex';

  export default {
    name: 'projects-table',
    props: {
      type: {
        type: String
      },
      title: String
    },
    data() {
      return {
        modals:{
          add:false,
          edit:false,
          delete:false
        },
        columns : [
          {
            label: 'Fecha',
            field: 'created_at',
            filterable: true,
          },
          {
            label: 'Dispositivo',
            field: 'device.name',
            filterable: true,
          },
          {
            label: 'Latitude',
            field: 'latitude',
            filterable: true,
          }
          ,
          {
            label: 'Londitud',
            field: 'longitude',
            filterable: false,
          }
        ],
        rows: [],
        item:{}
      }
    },
    methods:{
      init(){
        //call API
        //Setup gam,e
      },
      devices() {

      },
      loadItems() {
        axios
          .get("coordinates")
          .then(response => {
            return response.data
          })
          .then(data => {
            this.rows = data;
          })
          .catch(error => {
            this.isLoad = true;
          });
      }
    },
    created(){
      this.$io.emit("join", "coordinates:"+this.currentUser.uid);
      window.addEventListener('beforeunload', () => {
          this.$io.emit("leave", "coordinates:"+this.currentUser.uid);
      }, false);
    },
    computed: {
      ...mapGetters(['currentUser'])
    },
    mounted(){
      // console.log(this.currentUser);
      this.loadItems();
      this.init();
      this.devices();

      this.$io.on("store", event => {
        this.rows = [event, ...this.rows];
        console.log(event);
      });
    }
  }
</script>
<style>
</style>
