<template>
    <div>
        <b-form-input id="input_autocomplete" type="text" :value="value" placeholder="Busca una dirección" @input="updateValue"/>
    </div>
</template>
<script>
export default {
  name: "gmap-autocomplete",
  props: {
    mapConfig: Object,
    value:{
      type:String,
      default:""
    }
  },
  data() {
    return {
      google: null,
      map: null,
      autocomplete:null,
      info_window:null,
      geo_data:{
        address_components:null,
        geometry:null,
        formatted_address:null
      }
    }
  },
  async mounted() {
    this.google = this.$googleMap;
    this.initialize();
  },
  methods: {
    updateValue(value){
      this.$emit('input',value);
    },
    initialize() {
      var element = document.getElementById('text_field_autcomplete');
      var input = document.getElementById('input_autocomplete');
      this.autocomplete = new this.google.maps.places.Autocomplete(input);
      this.google.maps.event.addListener(this.autocomplete, 'place_changed', this.placeChanged);

    },
    placeChanged(){
      let place = this.autocomplete.getPlace();
      this.$emit('input',place.formatted_address);
      var address = '';
      if (place.address_components) {
          address = [
            (place.address_components[0] && place.address_components[0].short_name || ''),
            (place.address_components[1] && place.address_components[1].short_name || ''),
            (place.address_components[2] && place.address_components[2].short_name || '')
          ].join(' ');
      }
      this.geo_data.address_components=place.address_components.map( (item) =>{
        var element = {};
        element[item.types[0]?item.types[0]:""] = (item && item.short_name || '');
        return element;
      });

      this.geo_data.address_components = Object.assign({}, ...this.geo_data.address_components);

      this.geo_data.geometry={lat:place.geometry.location.lat(),lng:place.geometry.location.lng()}
      this.geo_data.formatted_address=place.formatted_address;
      this.geo_data.place = place;

      this.$emit("select",this.geo_data);
    }
  }
}
</script>
<style lang="css">
#map {
    width: 100%;
    height: 400px;
}
.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#searchInput {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 50%;
}
#searchInput:focus {
    border-color: #4d90fe;
}
#text_field_autcomplete .v-input__slot{
  background-color: #fff;
}
</style>