<template>
    <div>
      <v-col cols="8" md="8" id="text_field_autcomplete" >
        <v-text-field
            v-model="address"
            label="Busca una direccion"
            outlined
            id="input_autocompleted"
            clearable
            dense
        >
        </v-text-field>
      </v-col>
        <!-- <div class="google-map" ref="googleMap" style="width:100%;  height: 100vh;"></div> -->
        <!-- <input id="searchInput" class="controls" type="text" placeholder="Busca una dirección"> -->
        <div id="map" ref="googleMap" style="width:100%;  height: 100vh;"></div>
    </div>
</template>
<script>
import GoogleMapsApiLoader from 'google-maps-api-loader'; 
import {google_api_key} from "../../constants/config";

export default {
  name: "gmap-autocomplete",
  props: {
      mapConfig: Object,
  },
  data() {
    return {
      address:"",
      google: null,
      map: null,
      autocomplete:null,
      info_window:null,
      geo_data:{
        address_components:null,
        geometry:null,
        formatted_address:null
      }
    }
  },
  async mounted() {
    const googleMapApi = await GoogleMapsApiLoader({
      libraries: ["places","drawing"],
      apiKey: google_api_key
    })
    this.google = googleMapApi;
    this.initializeMap();
  },
  methods: {
    initializeMap() {
      const mapContainer = this.$refs.googleMap;
      this.map = new this.google.maps.Map(mapContainer, this.mapConfig);

      var element = document.getElementById('text_field_autcomplete');
      var input = document.getElementById('input_autocompleted');
      this.map.controls[this.google.maps.ControlPosition.TOP_LEFT].push(element);

      this.autocomplete = new this.google.maps.places.Autocomplete(input);
      this.autocomplete.bindTo('bounds', this.map);

      this.info_window=new this.google.maps.InfoWindow();
      this.marker = new this.google.maps.Marker({
        map: this.map,
        anchorPoint: new this.google.maps.Point(0, -29)
      });
      
      this.google.maps.event.addListener(this.autocomplete, 'place_changed', this.placeChanged);

    },
    placeChanged(){
      this.info_window.close();
      this.marker.setVisible(false);
      let place = this.autocomplete.getPlace();
      if(!place.geometry){
        return;
      }
      if (place.geometry.viewport) {
          this.map.fitBounds(place.geometry.viewport);
      } else {
          this.map.setCenter(place.geometry.location);
          this.map.setZoom(17);
      }
      this.marker.setIcon(({
            url: place.icon,
            size: new google.maps.Size(71, 71),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(17, 34),
            scaledSize: new google.maps.Size(35, 35)
      }));
      this.marker.setPosition(place.geometry.location);
      this.marker.setVisible(true);

      var address = '';
        if (place.address_components) {
            address = [
              (place.address_components[0] && place.address_components[0].short_name || ''),
              (place.address_components[1] && place.address_components[1].short_name || ''),
              (place.address_components[2] && place.address_components[2].short_name || '')
            ].join(' ');
        }
    
      this.info_window.setContent('<div><strong>' + place.name + '</strong><br>' + address);
      this.info_window.open(this.map, this.marker);

      this.geo_data.address_components=place.address_components.map( (item) =>{
        var element = {};
        element[item.types[0]?item.types[0]:""] = (item && item.short_name || '');
        return element;
      });

      this.geo_data.address_components = Object.assign({}, ...this.geo_data.address_components);

      this.geo_data.geometry={lat:place.geometry.location.lat(),lng:place.geometry.location.lng()}
      this.geo_data.formatted_address=place.formatted_address;

      this.$emit("select",this.geo_data);
      
    }
  }
}
</script>
<style lang="css">
#map {
    width: 100%;
    height: 400px;
}
.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#searchInput {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 50%;
}
#searchInput:focus {
    border-color: #4d90fe;
}
#text_field_autcomplete .v-input__slot{
  background-color: #fff;
}
</style>