<template>
    <div>
        <!-- <div class="google-map" ref="googleMap" style="width:100%;  height: 100vh;"></div> -->
        <div class="google-map" ref="googleMap" style="width:100%;  height: 100vh;"></div>
        <template v-if="Boolean(this.google) && Boolean(this.map)">
          <slot
            :google="google"
            :map="map"
          />
        </template>
    </div>
</template>
<script>
export default {
  name:"g-map",
  props: {
      mapConfig: Object,
  },
  data() {
    return {
      google: null,
      map: null,
      info_window:null,
      marker:null
    }
  },
  async mounted() {
    this.google = this.$googleMap;
    this.initializeMap()
  },
  methods: {
    initializeMap() {
      const mapContainer = this.$refs.googleMap;
     

      this.map = new this.google.maps.Map(mapContainer, this.mapConfig);
      this.info_window=new this.google.maps.InfoWindow();
      this.marker = new this.google.maps.Marker({
        map: this.map,
        anchorPoint: new this.google.maps.Point(0, -29)
      });
      // this.map.setZoom(18);
    }
  }
}
</script>