<script>
import { POINT_MARKER_ICON_CONFIG } from "@/constants/mapSettings";

export default {
  props: {
    google: {
      type: Object,
      required: true
    },
    map: {
      type: Object,
      required: true
    },
    marker: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      _marker:null,
      infowindow:null,
      formatted_address:"",
      date:""
    }
  },
  async mounted(){
    const { Marker } = this.google.maps;
    this._marker=new Marker({
      position: this.marker.position,
      marker: this.marker,
      map: this.map,
      label: this.marker.label,
      // icon: POINT_MARKER_ICON_CONFIG
    });
    // n_marker.addListener('click', function() {
    // });
    //get address
    var geocoder = new google.maps.Geocoder;
    const address = new Promise((resolve, reject) => {
        geocoder.geocode({'location': this.marker.position}, function(results, status) {
          if (status === 'OK') {
            if(results.length>1){
              resolve(results[0].formatted_address); 
            }
            resolve(""); 
          }
          reject("");
        });
      });
    this.formatted_address = await address;
    //infowindow
    this.date  = this.marker.date.toLocaleString().replace(/\//gi,"-","gi");
    const contentString = '<div class="info-window-content"><h2>Dispositivo: '+this.marker.name+'</h2>' +
        '<p><b>Direccion:</b> '+this.formatted_address+' <b>Hora: </b>'+this.date+' </p></div>';
    this.infowindow = new google.maps.InfoWindow({
      content: contentString
    });

    this.google.maps.event.addListener(this._marker, 'click', this.click);
    this.google.maps.event.addListener(this._marker, 'mouseover', this.openInfo);
    this.google.maps.event.addListener(this._marker, 'mouseout', this.closeInfo);
    
  },
  watch: {
    marker: function (val) {
      // console.log(val);
    }
  },
  methods:{
    click(){
      this.$emit("click",true);
    },
    openInfo(){
      // console.log(new Date().toLocaleString().replace(/\//gi,"-","gi"));
      // console.log(new Date().toISOString());
      this.infowindow.open(this.map, this._marker);
    },
    closeInfo(){
      this.infowindow.close();
    },
    placeChanged(data){
      this._marker.setVisible(false);
      let place =data;
      if(!data.position){
        return;
      }
      this.map.setCenter(data.position);
      // this.map.setZoom(15);

      // var position = new google.maps.LatLng(data.position.lat, data.position.lng);
      // this._marker.setPosition(position);
      // this._marker.setIcon(({
      //       url: place.icon,
      //       size: new google.maps.Size(71, 71),
      //       origin: new google.maps.Point(0, 0),
      //       anchor: new google.maps.Point(17, 34),
      //       scaledSize: new google.maps.Size(35, 35)
      // }));
      //update info windows 
      this.date  = data.date.toLocaleString().replace(/\//gi,"-","gi");
      const contentString = '<div class="info-window-content"><h2>Dispositivo: '+this.marker.name+'</h2>' +
        '<p><b>Direccion:</b> '+this.formatted_address+' <b>Hora: </b>'+this.date+' </p></div>';
      this.infowindow = new google.maps.InfoWindow({
        content: contentString
      });
      //update marker position
      this._marker.setPosition(data.position);
      this._marker.setVisible(true);
    }
  },
  render() {}
};
</script>